#issueTable {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

#issueTable th,
#issueTable td {
  border: 1px solid #ddd;
  padding: 6px 10px;
  text-align: left;
}

/* уникальные цвета для колонок */
.col1 {
  background-color: #e6f4ff; /* голубой */
}

.col2 {
  background-color: #e8ffe6; /* зелёный */
}

.col3 {
  background-color: #fff4e6; /* оранжевый */
}
